# PSOC Creator Temporary files
Debug/
codegentemp/
Generated_Source/
Backup/
Export/

*.log
*.ini

*.cyfit
*.rpt
*.html
*.svd

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# User local setting files
*.lilu1
*.LL_W530
*.LUKE
*.Lu Li
*.LL-Z370-01
